<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are  by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20}- %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.track.alerts" level="debug" additivity="false">
       <appender-ref ref="STDOUT" />
    </logger>
    <logger name="batteryLog" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="tamperLog" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>